{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}
    {{ self.banner_title }}
    {{ self.banner_subtitle|richtext }}
    {% image self.banner_image width-400 %}
    <br>
    <br>
    {# Example of an Orderable from home/models.py #}
    {% for loop_cycle in self.carousel_images.all %}
        {% image loop_cycle.carousel_image fill-900x400 as img %}
        {% comment %} <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}"> {% endcomment %}
            <img src="{{ img.url }}">
        {% comment %} </div> {% endcomment %}
    {% endfor %}


{% endblock %}
